@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Dela+Gothic+One&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Questrial&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

$boldonse: 'Boldonse', sans-serif;
$dmsans: 'DM Sans', sans-serif;
$dmserif: 'DM Serif Text', serif;
$dela: 'Dela Gothic One', sans-serif;
$epilogue: 'Epilogue', sans-serif;
$inter: 'Inter', sans-serif;
$overpass: 'Overpass', sans-serif;
$questrial: 'Questrial', sans-serif;
$urbanist: 'Urbanist', sans-serif;